.next-recipe-block {
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #d6d6d6;
    background-color: #f1f1f1;

    .next-recipe-delete {
        color: #ff0000;
        position: relative;
        top: -5px;

        &:hover {
            color: #c20000;
        }
    }
}